* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Georgia, serif;
    background: #f5f2ee;
    color: #111;
}

button {
    display: block;
}

.details-container {
    display: none;
}


.header-container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.aside-software {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "info info "
        "info info"
        "experienta light"
        "stack accent";
}

.info {
    grid-area: info;
}

.experienta {
    grid-area: experienta;
}

.light {
    grid-area: light;
}

.stack {
    grid-area: stack;
}

.accent {
    grid-area: accent;
}

.box {
    border: 2px solid green;
}





.accent {
    background-color: orangered;
}

.sisteme span {
    color: #c94c2c;
    font-style: italic;
}

.subtitle {
    color: gray;
}

.profile-container {
    background-color: antiquewhite;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "about "
        "construiesc"
        " lucrez"
        " paralel"
        "cutii"
    ;
}

.about-container {
    border: 2px solid pink;
    grid-area: about;
}

.construiesc-container {
    grid-area: construiesc;
}

.lucrez-container {
    grid-area: lucrez;
}

.paralel-container {
    grid-area: paralel;
}

.cutii {
    grid-area: cutii;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



button:hover {
    background-color: rgb(23, 28, 16);
    color: white;
}

.cutie {
    border: 2px solid gray;
    height: 20px;
    /* flex: 1 1 calc(25% - 10px);
    text-align: center; */
}

span {
    color: orange;
}
.projects-header {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-proiecte {
    border: 2px solid orange;
    margin-left: auto;
    text-align: center;
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 12%;
}

h2 {
    border: 2px solid yellow;
}


.project-tags {
    display: none;
}

.project-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "number text"
        "number text"
        "number text"
        "number text"
        "number text";


}

.project-number {
    grid-area: number;
    border: 2px solid pink;
    margin-bottom: 0%;
}

.projects-header {
    grid-area: titlu;
    border: 2px solid violet;
}

.project-content {
    grid-area: text;
    border: 2px solid orange;
}


.experience-container {
    border: 2px solid red;
    /* background-color: black; */
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: "container1"
        " container2"
        " container3"
    ;
}

.experience-item-container1 {
    border: 2px solid green;
    grid-area: container1;
}

.experience-item-container2 {
    border: 2px solid green;
    grid-area: container2;
}

.expericen-item-container3 {
    border: 2px solid green;
    grid-area: container3;

}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "data functie"
        "data locatia"
        "data text";
}

.data {
    grid-area: data;
}

.functie {
    grid-area: functie;
    color: white;
}

.locatia {
    grid-area: locatia;
    color: orange;
}

.text {
    grid-area: text;
}
.titlu{color: white;}
.experienta{color: grey;text-transform: uppercase;}

.body-container {
    border: 2px solid red;
    font-family: Georgia, serif;
    background-color: #f7f6f4;


}

.stack-header-container {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    grid-area: stack;
}

.grid-container {
    border: 2px solid pink;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "frontend backend"
        "infrastructure data"
    ;
}

.subtitle {
    text-transform: uppercase;
    color: grey;
    border: solid 2px violet;
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
}

.stack-header-container h1 {
    border: solid 2px black;
    margin-bottom: 0%;
    display: flex;
    align-items: flex-end;
    height: auto;
    padding-bottom: 0%;
}

.card {
    border: 2px solid orangered;


}

.card h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#frontend {
    grid-area: frontend;
}

#backend {
    grid-area: backend;
}

#infrastructure {
    grid-area: infrastructure;
}

#data {
    grid-area: data;
}

button {
    display: block;
}



.main-containerCC {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: row;
   
}
#elements-container{width: 100%; display: block;}

.footer-container {
    border: 2px solid rgb(15, 19, 15);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.copyright {
    border: 2px solid orange;
    margin-right: 60%;
    color: aliceblue;
}

.html {
    border: 2px solid violet;
    color: white;
}
@media(min-width:720px) {
    .details-container {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .box {
        display: grid;
    }

    .experienta {
        background-color: black;
        color: white;
    }

    .aside-software {
        border: 2px solid red;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "info info experienta light"
            "info info stack accent";
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "about construiesc"
            "about lucrez"
            "about paralel"
            "about cutii"

        ;
        height: 80vh;
    }
      .sageata {
        border: solid 4px blue;
        display: block;
        grid-area: sageata;
    }
  .sageata:hover{
        border: 2px solid red;
        background-color: aqua;
        color: bisque;
    }

    .project-tags {
        display: block;
        grid-area: tags;
        border: 2px solid rgb(95, 14, 14);
        align-self: center;
    }
    .project-tag{border: 2px solid rgb(138, 129, 129);}

    .project-item {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "number text tags sageata"
            "number text tags sageata"
            "number text tags sageata"
            "number text tags sageata"
            "number text tags sageata";


    }
  .experience-container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "container1 container2"
            "container1 container3"
            "container1 container3"
        ;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "frontend backend infrastructure data";
    }

}